body
{
    background-color: brown;
    font-family: Courier, monospace;
}

#header-part {
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: block;
    color: azure;
    text-decoration: none;
    height: fit-content;
    border-radius: 25px;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

}